*{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
p{
    margin: 0;
    padding: 0;
    display: inline-block;
}
a{
    text-decoration:none;
}
select,input{
    border: none;
    outline: none;
}
.warp{
    width:1000px;
    margin: 0 auto;
    position: relative;
}
.clearFloat:after{
    content: ' ';
    clear: both;
    display: block;
}
.top{
    height: 30px;
    background-color: #f5f5f5;
}
.header{
    height: 92px;
}
.nav{
    height: 36px;
    background-color: #60bff2;
}
.banner{
    width: 802px;
    margin: 0 auto;
    height: 414px;
    padding: 9px 0 0 198px;
}
.banner_slider{
    float: left;
    width: 544px;
    height: 414px;
    background-color: #8edff3;
}
.banner_search,
.banner_help{
    float: right;
    width: 250px;
    height: 146px;
    background-color: #eee;
}
.banner_search{
    height: 255px;
}
.banner_help{
    background-color: #ccc;
    margin-top: 12px;
}
.content{padding: 10px 0 38px 0;}
.content_tab{
    float: left;
    width: 742px;
    height: 490px;
}
.content_news,
.content_announcement{
    float: right;
    width: 248px;
    height: 236px;
}
.content_announcement{
    margin-top: 12px;
}
.footer{
    height: 70px;
    padding: 25px 0;
    background-color: #eceef2;
}