.top{
    line-height: 30px;
    font-size: 13px;
    color: #868686;
}
.top .call{
    float: left;
    padding-left: 20px;
    background: url(../img/icon-call.png) no-repeat center left;
}
.top a{
    color: #2da5e1;
}
.top .welcome{
    float: right;
}

.header .logo{
    width: 402px;
    height: 74px;
    padding: 9px 0;
    display: inline-block;
}
.header .logo img{
    width: 100%;
    height: 100%;
}
.header .search{
    width: 326px;
    height: 38px;
    position: absolute;
    right: 0px;
    top:29px;
/*    background-color: orange;*/
}

.nav .active{background-color: #1fa4f0;}
.nav .link{
    display: inline-block;
    float: left;
    width: 170px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    min-width: 80px;
    text-align: center;
}
.nav .link:hover{
    color: #d7f3ff;
    background-color: #1fa4f0;
}
.nav .menu{
    width: 170px;
    display: block;
}
.page_item .menu_list{
    display: block;
    background-color: #1fa4f0;
    width: 170px;
    height: 423px;
    position: absolute;
}

.banner_home_search{
    background-color: #eee;
}
.banner_home_help .caption,
.banner_home_search .caption{
    height: 22px;
    padding: 15px 0;
    text-align: center;
}
.banner_home_help .caption .text,
.banner_home_search .caption .text{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding-left: 28px;
    font-size: 16px;
    color: #fec009;
    background: url(../img/icon-help.png) no-repeat 0 0;
}
.banner_home_search .form{
    height: 150px;
}
.banner_home_search .form .line{
    padding-bottom: 9px;
    text-align: center;
}
.banner_home_search .form .line .select{
    width: 170px;
    font-size: 12px;
    z-index: 0;
    border-radius: 5px;
    border: 1px solid #dcdddd;
    height: 26px;
    line-height: 26px;
    padding: 2px 0;
    color: #666;
}
.banner_home_search .submit{
    height: 33px;
    text-align: center;
}
.banner_home_search .submit .button{
    width: 108px;
    height: 33px;
    background-color: #fecd09;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
}

.banner_home_help{
    background-color: #eee;
}
.banner_home_help .caption .text{
    color: #00b3ea;
    background-position: 0 -23px;
}

.banner_home_help .link{
    color: #00b3ea;
    display: inline-block;
    width: 86px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    padding: 0 0 8px 26px;
}

.content_home_news,
.content_home_announcement{
    background-color: #fff;
    border: 1px solid #ddd;
}
.content_home_announcement .caption,
.content_home_news .caption{
    height: 38px;
    line-height: 38px;
    background-color: #ddd;
    text-indent: 20px;
    color: #fec409;
    font-size: 15px;
}
.content_home_announcement .more,
.content_home_news .more{
    float: right;
    padding-right: 22px;
    font-size: 12px;
    color: #868686;
}
.content_home_announcement .caption{
    color: #5bb8e8;
}
.content_home_announcement .list,
.content_home_news .list{
    padding: 8px 20px 13px 35px;
    font-size: 12px;
    line-height: 29px;
    background: url(../img/list-yellow.jpg) 17px 15px no-repeat;
}
.content_home_announcement .list .link,
.content_home_news .list .link{
    display: inline-block;
    color: #969696;
}
.content_home_announcement .list{
    background: url(../img/list-blue.jpg) 17px 15px no-repeat;
}

.content_home_tab .caption{
    width: 100%;
    height: 34px;
    background-color: #f1f1f1;
}
.content_home_tab .caption .caption_item{
    display: inline-block;
    text-align: center;
    width: 112px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #00b3ea;
}
.content_home_tab .caption .active{
    background-color: #00b3ea;
    color: #fff;
}

.content_home_tab .district{
    border: 1px solid #eee;
    height: 452px;
}
.content_home_tab .district_caption{
    height: 26px;
    line-height: 26px;
    padding: 8px 8px 8px 0;
    border-bottom: 1px solid #eee;
}
.content_home_tab .district_caption_item{
    display: block;
    padding: 0 10px;
    font-size: 12px;
    color: #4c4948;
    float: left;
}
.content_home_tab .active{
    background-color: #00b3ea;
    color: #fff;
}

.content_home_tab .hospitalList{
    padding: 16px 12px;
}
.content_home_tab .hospitalList .listMore{
    display: block;
    line-height: 55px;
    text-align: center;
    color: #5084c4;
    font-size: 14px;
}
.content_home_tab .hospitalBlockList{}
.content_home_tab .hospitalBlockList .hospitalBlockList_item{
    float: left;
    width: 216px;
    height: 102px;
    padding: 0 20px 10px 120px;
    position: relative;
    font-size: 12px;
}
.content_home_tab .hospitalBlockList .hospitalBlockList_item img{
    width: 110px;
    height: 98px;
    position: absolute;
    left: 0;
    top: 0;
}
.content_home_tab .hospitalList .hospitalBlockList .hospitalBlockList_item_name{
    color: #036eb7;
    font-size: 14px;
    line-height: 21px;
    padding-top: 10px;
}
.content_home_tab .hospitalList .hospitalBlockList .hospitalBlockList_item_level{
    float: right;
    font-size: 12px;
    color: #979797;
}
.content_home_tab .hospitalList .hospitalBlockList .hospitalBlockList_item_tel,
.content_home_tab .hospitalList .hospitalBlockList .hospitalBlockList_item_address{
    line-height: 18px;
    padding-bottom: 4px;
    color: #666;
}

.content_home_tab .hospitalList .hospitalTextList_item{
    display: block;
    width: 351px;
    height: 27px;
    font-size: 14px;
    color: #666;
    padding-top: 8px;
    float: left;
    border-bottom: 1px dashed #dcdddd;
}
.content_home_tab .hospitalList .hospitalTextList_level{
    float: right;
}
.content_home_tab .hospitalList .hospitalTextList_item:nth-child(2n){
    margin-left: 13px;
}
.footer{
    line-height: 70px;
    text-align: center;
    color: #666;
}